.main-page {
  font-family: "Trebuchet-MS", sans-serif, "Arial", sans-serif;
  background-image: url("../img/bg.png");
}

.main-page__catalog {
  max-width: 1120px;
  width: 1120px;
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
