@font-face {
  font-family: "Exo-2";
  src: local("Exo2-Regular"), local("Exo2-Regular"),
    url("../fonts/Exo2-Regular.woff2") format("woff2"),
    url("../fonts/Exo2-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trebuchet-MS";
  src: local("TrebuchetMS"), local("TrebuchetMS"),
    url("../fonts/TrebuchetMS.woff2") format("woff2"),
    url("../fonts/TrebuchetMS.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trebuchet-MS";
  src: local("TrebuchetMS-Bold"), local("TrebuchetMS-Bold"),
    url("../fonts/TrebuchetMS-Bold.woff2") format("woff2"),
    url("../fonts/TrebuchetMS-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
